.copy1 
             {   position:absolute;  top:550px;left:960px;
                 ont-weight: bold; 
                  color:rgb(0,0,0);
                  font-family: Verdana, Geneva, sans-serif; 
                 font-size: 12px;   
             }
.copy2
             {      position:absolute; bottom:10px;right:20%;  
                    ont-weight: bold; 
                  color:  #FFF;
                  font-family: Verdana, Geneva, sans-serif; 
                 font-size: 12px;      
             }


//<link rel="stylesheet" href="copy.css" type="text/css">
//<div class="copy1">Copyright luochuangui<br>306139142@qq.com</p></div>