/* CSS Document */

.wrapper{
	position:relative;
	width:960px;
	height:750px;
	margin: 0 auto;}
	
.inner{
	position:absolute;
	width:960px;
	top:200px;}

.wrapper img{
	padding:10px 10px 15px;
	background:#E3E3E3;
	position:absolute;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	       transition:0.5s;}
	
img:hover{
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	transform:rotate(0deg);
	-moz-transform:scale(1.8);
	-webkit-transform:scale(1.8);
	transform:scale(1.8);
	box-shadow:10px 10px 10px #000;
	z-index:1;
	}
.pic1{
	left:200px;
	-webkit-transform:rotate(20deg);
	-moz-transform:rotate(20deg);
	          transform:rotate(20deg);
	}	
.pic2{
	left:300px;
	-webkit-transform:rotate(-20deg);
	-moz-transform:rotate(-20deg);
	          transform:rotate(-20deg);
	}	
	.pic3{
		left:460px;
	-webkit-transform:rotate(40deg);
	-moz-transform:rotate(40deg);
	          transform:rotate(40deg);
	}	
	.pic4{
		
		left:60px;
	-webkit-transform:rotate(10deg);
	-moz-transform:rotate(10deg);
	          transform:rotate(10deg);
	}	
	.pic5{
		left:400px;
		top:100px;
	-webkit-transform:rotate(-40deg);
	-moz-transform:rotate(-40deg);
	          transform:rotate(-40deg);
	}	
	.pic6{
		left:700px;
	-webkit-transform:rotate(-30deg);
	-moz-transform:rotate(-30deg);
	          transform:rotate(-30deg);
	}	
	.pic7{
		left:570px;
	-webkit-transform:rotate(60deg);
	-moz-transform:rotate(60deg);
	          transform:rotate(60deg);
	}	
	.pic8{
		left:600px;
		top:200px;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	          transform:rotate(0deg);
	}	
	.pic9{
		left:250px;
		top:150px;
	-webkit-transform:rotate(-20deg);
	-moz-transform:rotate(-20deg);
	          transform:rotate(-20deg);
	}	
	.pic10{
		left:500px;
		top:300px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	          transform:rotate(-45deg);
	}	
	.pic11{
		left:450px;
		top:200px;
	-webkit-transform:rotate(-20deg);
	-moz-transform:rotate(-20deg);
	          transform:rotate(-20deg);
	}	
	.pic12{
		left:100px;
		top:230px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	          transform:rotate(45deg);
	}	
	.pic13{
	-webkit-transform:rotate(-20deg);
	-moz-transform:rotate(-20deg);
	          transform:rotate(-20deg);
	}	
	